@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700i|Lato:300,400|Open+Sans:300,400|Source+Sans+Pro:300,400');
html {
  font-family: 'Crimson Text';
  font-size: 22px;
}

code, .hljs-inline > code.hljs {
  font-size: 16px;
  font-family: Menlo;
}

#main {
  width: 36em;
  margin: auto;
}

img {
  width: 125%;

  /* Center */
  position: relative;
  left: 50%;
  transform: translate(-50%);

  margin-top: 9px;
  margin-bottom: 9px;
  text-align: center;
  display: block;  
  box-shadow: 2px 2px 8px gray;
}

pre.lowlight {
  width: 125%;
  /* Center */
  position: relative;
  left: 50%;
  transform: translate(-50%);

  box-shadow: 2px 2px 8px gray;  
}

.nav-concept-header {
  font-family: 'Lato';
}

nav.workshop {
  font-family: 'Lato';
  position: fixed;
  padding: 9px;
  padding-right: 18px;
  top: 0; left: 0; bottom: 0;
  overflow: auto;
  border-right: 1px solid #eee;

  font-size: 19px;
}

nav.workshop h1 {
  font-size: 18px;
  margin: 16px;
  margin-bottom: 2px;
  margin-left: 18px;
}

nav.workshop ul {
  margin-top: 0;
  margin-left: 0;
  padding-left: 18px;
  /*border: thin solid fuchsia;  */
}

a {
  text-decoration: none;
}

nav.workshop a {
  color: #545;
}

a.nav-concept-link.visible {
  color: #636;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

a.nav-action-link.visible {
  color: #212;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);  
}

.nav-action-link {
  font-weight: 300;
}

li.nav-action.visible {
  list-style-type: disc;
}

.hint {
  margin: 18px;
  background: #eee;
  border-radius: 5px;
  padding: 4px;
}

.hint > h1:before {
  content: 'Hint: ';
}

.hint > h1 {
  font-size: 18px;
  margin: 0;
}

h1, h2, h3, h4, h5 { 
  font-family: 'Lato';
}
