@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lora');

html {
  font-family: 'Crimson Text';
  font-size: 16px;
}

pre {
  font-size: 14px;
}

#main {
  width: 36em;
  margin: auto;
}

img {
  width: 125%;

  /* Center */
  position: relative;
  left: 50%;
  transform: translate(-50%);

  margin-top: 9px;
  margin-bottom: 9px;
  text-align: center;
  display: block;  
  box-shadow: 2px 2px 8px gray;
}

pre.lowlight {
  width: 125%;
  /* Center */
  position: relative;
  left: 50%;
  transform: translate(-50%);

  box-shadow: 2px 2px 8px gray;  
}

nav.workshop {
  position: fixed;
  padding-top: 9px;
  padding-left: 9px;
  top: 0; left: 0; bottom: 0;
  overflow: auto;
} 

.active.action {
  list-style-type: disc;
}
