@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lora');

html {
  font-family: 'Crimson Text';
  font-size: 16px;
}

pre {
  font-size: 14px;
}

#main {
  width: 36em;
  margin: auto;
}

img {
  width: 125%;

  /* Center */
  position: relative;
  left: 50%;
  transform: translate(-50%);

  margin-top: 9px;
  margin-bottom: 9px;
  text-align: center;
  display: block;  
  box-shadow: 2px 2px 8px gray;
}

pre.lowlight {
  width: 125%;
  /* Center */
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

nav.workshop {
  position: fixed;
  top: 9px; left: 9px;
}