@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lora');

html {
  font-family: 'Crimson Text';
  font-size: 16px;
}

pre {
  font-size: 14px;
}

#main {
  width: 36em;
  margin: auto;
}

img {
  width: 125%;

  /* Center */
  position: relative;
  left: 50%;
  transform: translate(-50%);

  margin-top: 9px;
  margin-bottom: 9px;
  text-align: center;
  display: block;  
  box-shadow: 2px 2px 8px gray;
}

pre.lowlight {
  width: 125%;
  /* Center */
  position: relative;
  left: 50%;
  transform: translate(-50%);

  box-shadow: 2px 2px 8px gray;  
}

nav.workshop {
  position: fixed;
  padding: 9px;
  padding-right: 18px;
  top: 0; left: 0; bottom: 0;
  overflow: auto;
  border-right: 1px solid #eee;
} 

.active.action {
  list-style-type: disc;
}

.hint {
  margin: 18px;
  background: #eee;
  border-radius: 5px;
  padding: 4px;
}

.hint > h1:before {
  content: 'Hint: ';
}

.hint > h1 {
  font-size: 18px;
  margin: 0;
}